{% extends 'base.html' %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Amount</td>
            <td>
                <a href="{% url 'customer_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add new
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for customer in customer_list %}
        <tr>
            <td><a href="{% url 'individual' customer.id %}">{{customer.fullname}}</a></td>
            <td>{{customer.mobile}}</td>
            <td>{{customer.balence}}</td>
            <td>
                <a href="{% url 'update_customer' customer.id %}" class="btn text-secondary px-0">
                   <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'delete_customer' customer.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float -right"></i>
                    </button>
                </form>
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock content %}